    body, html{
            background-image:url(../img/darkcomp.jpg);
            height: 100vh;
            background-position: center center;      
            background-repeat: no-repeat;      
             background-attachment: fixed;      
          background-size: cover;  
        }
        body{
            font-family:'Roboto', sans-serif;
            color:white;
        }
  
  
.text{
    padding-right:20px;
    padding-left:30px;
    color:#F0EBD8;
    text-indent: 25px;
}

      
footer{
  
    padding-top: 50px;
    font-size:30px;
    font-weight: 100;
    color:black;
text-align: center;
}
footer h3{
    color:#1D2D44;
}



div {
    padding: 5px;
    
  }
  
  .img2 {
    float: left;
  }
  
  .clearfix::after {
  
    clear: both;
    display: table;
  }
  .Tima img{
      border-radius: 50%;
      align-items: left;
     top:10px;
 
     color:#F0EBD8;
  }
      .lead{
      font-weight:40px;
      font-size: 30px;
      color:#F0EBD8;
   padding-left:100px;
  
  }



  .about-me-container {
    display: flex;
  }
  
  .about-me-text-container {
    margin-right: var(--spacing-3);
    padding-bottom: 150px;
   
  }
  .row{
    padding-right:100px;
    padding-left:100px;
  }

  .a:link{
    color:#F0EBD8;
    text-decoration:none;
    list-style: none;

  }
  .a{
    color:#F0EBD8;
    text-decoration:none;
    list-style: none;

  }
  a:visited {
    color:#F0EBD8;
    list-style: none;
    text-decoration:none;
}