body, html{
    height:100%;
    background-image:url(../img/rose.jpg);
    display:flex;
    flex-direction:column;
   
    justify-content: space-between;
}
body{
    font-family:'Roboto', sans-serif;
    color:white;
}


.header{
    max-width:1170px;
    padding-left:15px;
    padding-right:15px;
    margin:0 auto; 
    display:flex;
    justify-content:space-between;
    align-items:center;
}




.nav-item{
    margin-left:15px;
}

.nav-link{
    color: #F0EBD8;
    text-decoration: none;
    border-bottom:1px  solid transparent;
    transition:0.3s;
}

.nav{
   
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    color: #F0EBD8;
}

a:hover{
    color:#0D1321;
}


.Tima img{
    border-radius: 50%;
    align-items: left;
   
}


.Tima{
   text-align: left;
}


h2{
    font-size: 50px;
    text-align:center;
 font-weight:400;
 color: #1D2D44;

}
.row{
padding-left:200px;
padding-right:100px;
}
.lead p {
    font-weight:100px;
    font-size: 40px;
    color: #1D2D44;
    
}


footer{
    padding-top:400px;}